@model FarmaciaOnline.Web.Models.Medicine
@{
 ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" 
href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
 <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
<h2>Details</h2>
<div>
 <h4>Medicine</h4>
 
<br />
 <hr />
 <dl class="dl-horizontal">
 <dt>
 @Html.DisplayNameFor(model => model.Name)
 </dt>
 <dd>
 @Html.DisplayFor(model => model.Name)
 </dd>
  <dt>
 @Html.DisplayNameFor(model => model.ExpeditionDate)
 </dt>
 <dd>
 @Html.DisplayFor(model => model.ExpeditionDate)
 </dd>
  <dt>
 @Html.DisplayNameFor(model => model.ExpirationDate)
 </dt>
 <dd>
 @Html.DisplayFor(model => model.ExpirationDate)
 </dd>
  <dt>
 @Html.DisplayNameFor(model => model.RouteAdministration)
 </dt>
 <dd>
 @Html.DisplayFor(model => model.RouteAdministration)
 </dd>
  <dt>
 @Html.DisplayNameFor(model => model.Presentation)
 </dt>
 <dd>
 @Html.DisplayFor(model => model.Presentation)
 </dd>
 <dt>
 @Html.DisplayNameFor(model => model.LaboratoriesNumber)
 </dt>
 <dd>
 @Html.DisplayFor(model => model.LaboratoriesNumber)
 </dd>
 </dl>
</div>
<div>
 <a asp-action="AddLaboratory" asp-route-id="@Model.Id" class="btn btn-primary"><i 
class="fas fa-plus"></i> Laboratory</a>
 
 <a asp-action="Details" asp-route-id="@Model.IdRepository" class="btn btn-success">Back to List</a>
</div>
<br />
<div class="row">
 <div class="col-md-12">
 <div class="panel panel-default">
<div class="panel-heading">
 <h3 class="panel-title">Laboratories</h3>
 </div>
 <div class="panel-body">
 <table class="table table-hover table-responsive table-striped" id="MyTable">
 <thead>
 <tr>
 <th>
 @Html.DisplayNameFor(model => 
model.Laboratories.FirstOrDefault().Name)
 </th>
 <th></th>
 </tr>
 </thead>
 <tbody>
 @foreach (var item in Model.Laboratories)
 {
 <tr>
 <td>
 @Html.DisplayFor(modelItem => item.Name)
 </td>
 <td>
 <a asp-action="EditLaboratory" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
 <button data-id="@item.Id" class="btn btn-danger deleteItem" 
data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>
 </td>
 </tr>
 }
 </tbody>
 </table>
 </div>
 </div>
 </div>
</div>
<partial name="_DeleteDialog" />
@section Scripts {
 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <script src="/js/deleteDialog.js"></script>
 <script type="text/javascript">
 $(document).ready(function () {
 $('#MyTable').DataTable();
 // Delete item
 sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', 
'/Repositories/DeleteLaboratory/', false);
 });
 </script>
}
